extends layout

block content
    table#leadertable.table.table-striped
        thead
            tr
                th Team #
                th Captain
                th Score
        each team, i in teamlist
            tr
                td= team.Team_Number
                td= team.Team_Captain
                td= team.Team_Score
                td
                    a.open-editteam(href="#editteam", data-toggle="modal", data-id="#{team.Team_Number}")
                        span.glyphicon.glyphicon-edit
                td
                    a
                        span.glyphicon.glyphicon-trash
    #editteam.modal.fade(role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    .glyphicon.glyphicon-remove.close(data-dismiss="modal")
                    h4.modal-title Edit Team
                .modal-body
                    input#teamnumber(type="text", name="teamnumber" value="")
    script(lang="javascript", src="javascripts/edit-team.js")