extends layout

block append head
    meta(http-equiv="refresh", content="5; URL=/")

block content
    img(src="images/event-logo.png")
    table#leadertable.table.table-striped
        thead
            tr
                th Team #
                th Captain
                th Score
        each team, i in teamlist
            tr
                td= team.Team_Number
                td= team.Team_Captain
                td= team.Team_Score