extends layout

block content
    h1 Leaderboard
    table#leadertable.table.table-striped
        thead
            tr
                th Team #
                th Captain
                th Score
        each team, i in teamlist
            tr
                td= team.Team_Number
                td= team.Team_Captain
                td= team.Team_Score