doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(lang='javascript' src='/javascripts/bootstrap.min.js')
        script(lang='javascript' src='/javascripts/jquery-2.1.4.min.js')
    body
    
        block content