extends layout

block content
	include navbar
	ul.nav.nav-tabs
		li.active
			a(href="#addPlayer", data-toggle="tab") Add Player
		li
			a(href="#addTeam", data-toggle="tab") Add Team
	
	.tab-content
		#addPlayer.tab-pane.active
			form#formAddPlayer(name="addPlayer", method="post", action="/addPlayer")
				.form-group
					label(for="inputFirstName") First Name
					input#inputFirstName.form-control(type="text", placeholder="John", name="firstname")
				.form-group
					label(for="inputLastName") Last Name
					input#inputLastName.form-control(type="text", placeholder="Doe", name="lastname")
				.form-group
					label(for="inputTeam") Team
					select#selectTeam.form-control(name="team")
				.form-group
					label #[input(type="checkbox", name="captain")] Team Captain 
				.form-group
					button#btnSubmit.btn.btn-default(type="submit") Submit
					button#btnClear.btn.btn-default(type="reset") Clear
							
		#addTeam.tab-pane
