body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
#leadertable
  font-size: 40px

.header img
  float: left
  height: 75px;
.header h1
  position: relative